* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(104, 28, 123);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.image-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.image-list::-webkit-scrollbar {
  display: none;
}

.image-items {
  height: 400px;
  object-fit: cover;
}

.slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slide-button {
  position: absolute;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50px;
  transform: translateY(-50%);
}

.slide-button:hover {
  background: #444;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

#prev {
  left: 118px;
  position: absolute;
  top: 50%;
}

#next {
  right: 118px;
  position: absolute;
  top: 50%;
}

.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}

.scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
